* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141E55;
    font-family: 'Poppins', sans-serif;
}
/* header */
.head {
    height: 80px;
    background-color: #192A32;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10vh 0 10vh;
    gap: 50px;
}

.head__logo {
    background-color: #141E55;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 24px;
}

.head__button,
.head__lang-select--div,
.element1__btn {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    background-color: #1A3769;
    color: #FCFCFC;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#head__lang-select {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    background-color: #1A3769;
    color: #FCFCFC;
}

.head__buttons1, .head__buttons2 {
    display: flex;
    gap: 21px;
}

.button__icon--gift,
.button__icon--smartphone {
    width: 24px;
    height: 24px;
}

.head__button_sign {
    background-color: #EC622B;
}

.head__button_login {
    background-color: #0FA810;
}
/* main */
.main {
    margin-top: 20px;
    padding: 0 10vh 0 10vh;
}

.main__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section__element {
    border-radius: 6px;
}

.section--left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* section__element--1-l */

.section__element--1-l {
    height: 98px;
    background-color: #FFFFFF;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.element1__txt {
    width: 666px;
    line-height: 24px;
}

.element1__btn {
    width: 179px;
    line-height: 19.2px;
}

/* 2-l */

.section__element--2-l {
    height: 384px;
    background-image: url('assets/2-l-background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.l-2__main--cont {
    padding: 41px 0 0 20px;
}

.l-2__digits96 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: #FFFFFF;
    display: flex;
    gap: 8px;
}

.l-2__star-cont {
    display: flex;
    gap: 6px;
}

.l-2__star {
    height: 23px;
    width: 24px;
}

.l-2__txt-1 {
    font-size: 40px;
    color: #FFFFFF;
    line-height: 48px;
    font-weight: 700;
    max-width: 538px;
    margin-top: 35px;
    text-transform: uppercase;
}

.l-2__btn {
    cursor: pointer;
    border: 1px solid #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
    padding: 14px 75.5px;
    background-color: #EC622B;
    color: #FCFCFC;
    border-radius: 16px;
    margin-top: 16px;
}

.l-2__txt-2 {
    font-size: 6px;
    line-height: 9px;
    font-weight: 400;
    color: #FFFFFF;
    padding: 10px 0 0 57.5px;
}

/* section__element--1-r */
.section__element--1-r {
    width: 295px;
}

.elem-1-r__head {
    background-color: #192A32;
    padding: 20px 22px;
    border-radius: 6px 6px 0 0;
    color: #FCFCFC;
}

.elem-1-r__btn-main {
    background-color: #EC622B;
    display: flex;
    gap: 16px;
    padding: 4px 16px 4px 4px;
    border-radius: 60px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.elem-1-r__btn-1-e {
    background-color: #FCFCFC;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem-1-r__btn-txt {
    font-size: 16px;
}

.elem-1-r__main {
    background-color: #FFFFFF;
    color: #7C7C7C;
    padding: 24px 0;
}

.elem-1-r__unit {
    padding: 8px 0 8px 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    gap: 12px;
}

.elem-1-r__unit:hover {
    background-color: #192A32;
    color: #FCFCFC;
    cursor: pointer;
}