* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #141E55;
    font-family: 'Poppins', sans-serif;
}
/* header */
.head {
    height: 80px;
    background-color: #192A32;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vh 0 10vh;
    gap: 15px;
}

.head__logo {
    background-color: #141E55;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    padding: 12px 24px;
}

.head__button,
#head__lang-select,
.element1__btn {
    cursor: pointer;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 24px;
    background-color: #1A3769;
    color: #FCFCFC;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.head__buttons1, .head__buttons2 {
    display: flex;
    gap: 10px;
}

.button__icon--gift,
.button__icon--smartphone {
    width: 24px;
    height: 24px;
}

.head__button_sign {
    background-color: #EC622B;
}

.head__button_login {
    background-color: #0FA810;
}
/* main */
.main {
    margin-top: 20px;
    padding: 0 10vh 0 10vh;
}

.main__container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section__element {
    border-radius: 6px;
}

.section__element--1-l {
    height: 98px;
    background-color: #FFFFFF;
    padding: 25px 20px;
    display: flex;
    align-items: center;
}
/* section__element--1-r */
.section__element--1-r {
    width: 295px;
}

.elem-1-r__head {
    background-color: #192A32;
    padding: 20px 22px;
    border-radius: 6px 6px 0 0;
    color: #FCFCFC;
}

.elem-1-r__btn-main {
    background-color: #EC622B;
    display: flex;
    gap: 16px;
    padding: 4px 16px 4px 4px;
    border-radius: 60px;
    justify-content: space-between;
    align-items: center;
}

.elem-1-r__btn-1-e {
    background-color: #FCFCFC;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem-1-r__btn-txt {
    font-size: 16px;
}